<form action="/login" method="post">
  <label for="user_nickname"><Login</label>
  <input id="user_nickname" autofocus="autofocus" name="user[nickname]" type="text" />
  <label for="user_password">Password</label>
  <input id="user_password" name="user[password]" required="required" type="password" />
  <input name="commit" type="submit" value="Sign in" />
</form>
