<script id="topic_new" type="text/html">
  <form accept-charset="UTF-8" action="/topics" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <fieldset>
    <p>
      <label class="string required" for="topic_title"><abbr title="required">*</abbr> Title</label>
      <input class="string required" id="topic_title" name="topic[title]" required="required" size="50" type="text" />
    </p>
    <label class="text required" for="topic_posts_attributes_0_body"><abbr title="required">*</abbr> Body</label>
    <textarea class="text required" cols="40" id="topic_posts_0_body" name="topic[posts][0][body]" required="required" rows="20"></textarea></div>
  </fieldset>
  <input name="commit" type="submit" value="Submit" />
  </form>
</script>

<script id="topic_edit" type="text/html">
  <form accept-charset="UTF-8" action="{{path}}" method="post">
    <input name="_method" type="hidden" value="put">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <fieldset>
      <p>
        <label class="string required" for="topic_title"><abbr title="required">*</abbr> Title</label>
        <input class="string required" value="{{title}}" id="topic_title" name="topic[title]" required="required" size="50" type="text" />
      </p>
      <input name="members_list" id="members_list" value="{{members_list}}" />
    </fieldset>
    <input name="commit" type="submit" value="Submit" />
  </form>
</script>

<script id="topic" type="text/html">
  <ul class='topic-info'></ul>
  <hr />
  <nav class="pagination"></nav>
  <section id="posts"></section>
  <nav class="pagination"></nav>
  <section id="new_post"></section>
</script>

<script id="topic_info" type="text/html">
  {{#is_creator}}
  <li class="edit"><a href="{{path}}/edit">Edit</a></li>
  {{/is_creator}}
  <li class='posts'>{{member_posts_count}}/ {{posts_count}}</li>
  <li class='members'>{{members_size}}</li>
</script>

<script id="topics" type="text/html">
  <nav class="pagination"></nav>
  <section class="topics"></section>
  <nav class="pagination"></nav>
</script>

<script id="post_new" type="text/html">
  <form accept-charset="UTF-8" action="{{path}}/posts" method="post">
    <input name="utf8" type="hidden" value="✓">
    <label for="post_body">Title</label>
    <textarea cols="40" id="post_body" name="post[body]" rows="20"></textarea>
    <p>
    <input name="commit" type="submit" value="save">
    </p>
  </form>
  <a href="/smilies">Smilies</a>
</script>

<script id="post_edit" type="text/html">
  <form accept-charset="UTF-8" action="{{path}}" method="post">
    <input name="utf8" type="hidden" value="✓">
    <input name="_method" type="hidden" value="put">
    <label for="post_body">Title</label>
    <textarea cols="40" id="post_body" name="post[body]" rows="20">{{raw}}</textarea>
    <p>
    <input name="commit" type="submit" value="save">
    </p>
  </form>
  <a href="/smilies">Smilies</a>
</script>

<script id="smiley_item" type="text/html">
  <img width="{{width}}px" height="{{height}}px" src="{{path}}?{{ts}}" alt=":{{code}}:" title=":{{code}}:" />
</script>

<script id="smiley_new" type="text/html">
  <form accept-charset="UTF-8" action="/smilies" enctype="multipart/form-data" method="post">
    <fieldset>
      <dl class="errors"></dl>
      <input name="utf8" type="hidden" value="✓">
      <input name="authenticity_token" type="hidden" value="{{token}}">
      <label for="smiley[code]">code</label>
      <input id="smiley_code" name="smiley[code]" size="30" type="text">
      <label for="smiley_image">Image</label>
      <input id="smiley_image" name="smiley[image]" type="file">
      <input name="commit" type="submit" value="save">
      <meter max="100" value="0" id="status"></meter>
    </fieldset>
  </form>
</script>

<script type="text/html" id="post">
  <article class='post' id="p{{pid}}">
    <h4>
      <a href="/users/{{creator_s}}"><img = src="/uploads/avatars/{{creator_s}}.png" /></a>
      <br />
      <a class="user" href="/users/{{creator_s}}">{{creator_n}}</a>
    </h4>
    {{#current}}
    <a class="edit" href="{{path}}/edit">Edit</a>
    <form accept-charset="UTF-8" action="{{path}}" class="simple_form post" method="delete">
      <input name="utf8" type="hidden" value="✓">
      <input name="_method" type="hidden" value="delete">
      <input id="post_submit" name="commit" type="submit" value="Delete" />
    </form>
    {{/current}}
    <time>
      {{created_at}}
    </time>
    <div class='bubble'>
      {{{content}}}
    </div>
    <hr />
</script>

<script type="text/html" id="user">
  <p>Messages : {{ posts_count }}</p>
  <p><a href="{{path}}"><img = src="{{avatar_path}}" /></a></p>
</script>
