@import var.sass
*
  margin: 0
  padding: 0

@font-face
  font-family: "Floozy"
  src: url(Floozy__.ttf)
body
  background= !gray
h1
  font-family: Floozy
  font-size: 8em
  color= !orange
  text-shadow= !aoi ".05em .05em .05em"
  padding: .4em
#content
  background= !light
.center
  margin: 0 auto
  width: 800px
