@import var.sass
*
  margin: 0
  padding: 0

@font-face
  font-family: "Floozy"
  src: url(Floozy__.ttf)
hr
  clear: both
  margin: 0
  border: none
  visibility: hidden
html
  font: 62.5%/1.6em  Arial, sans-serif
body
  background= !gray
  width: 95em
  margin: 0 auto
h1
  float: left  
  a
    font-family: Floozy
    font-size: 1.5em
    color= !orange
    text-shadow= !aoi ".05em .05em .05em"
    padding: .4em
    text-decoration: none
    line-height: 1.2em
#header
  font-size: 1.6em
  ul
    float: left
    li
      display: inline-block
#content
  font-size: 1.6em
