@import var.sass
*
  margin: 0
  padding: 0

@font-face
  font-family: "Floozy"
  src: url(Floozy__.ttf)
hr
  clear: both
  margin: 0
  border: none
  visibility: hidden
a
  text-decoration: none
  color= !text
  img
    border: 0
html
  font: 62.5%/1.6em  Helvetica, Arial, sans-serif
body
  background= !beige
  width: 95em
  margin: 0 auto
  color= !text
.small
  font-size: .75em
#header
  h1
    margin: .2em 0 0 0
    float: left
    font-size: 6em
    line-height: 1em
    a
      font-family: Floozy
      color= !orange
      text-shadow= !gray ".05em .05em .05em"
      padding: .4em
      &:hover
        text-shadow: #FFF .05em .05em .05em
  ul
    float: right
    font-size: 1.2em
    font-weight: bold
  li
    display: inline-block
    vertical-align: top
    a
      text-shadow: 1px 1px 0 #FFFFFF
#user_info
  +bordures-rondes-bas(#eecc99)
  padding: .5em .8em
  margin: 0 1.5em 0 0
  li
    padding: .2em 0 0 0
  a
    padding: 0 .5em 0 .6em
    img
      float: left
      margin: -.5em .5em 0 0
    &:hover
      text-decoration: underline
  li#avatar
    a
      padding: 0
  li + li
    border-left: 1px solid #eeddcc
#general
  margin: 1em 1.5em 2em 0
  clear: right
  a
    display: block
    +bordures-rondes(#eecc99)
    padding: .3em .6em
    font-weight: bold
    &:hover
      background= !orange
      color: white
      text-shadow= !text "1px 1px 0"
#contents
  width: 70em
  +bordures-rondes(#FFF)
  padding: 1em
#topics
  list-style: none
  font-size: 1.4em
  line-height: 1.4em
  a
    display: block
  li
    margin: .2em 0
  ul
    list-style: none
    margin: 0 0 .7em 0
    &:hover
      padding: 0 0 0 .4em
    li
      display: inline-block
    .unread
      width: 3em
      margin: 0 .4em 0 0
      text-align: center
      line-height: 2.5em
      a
        +bordures-rondes(#FFFFFF)
      a.new
        +bordures-rondes(!orange)
    .title
      width: 30em
      vertical-align: top
      line-height: 1em
      em
        color= !gray
#content
h2
  font-size: 2em
  margin: 0 0 1em 0
  text-shadow= !gray "1px 1px 0"
  color= !orange
.post
  margin: 0 0 1.5em 0
  border-top= !beige "solid 1px"
  padding: .5em 0 0 0
  h4
    float: left
    margin: 0 0 .5em 0
  p
    margin: .2em 0 .4em 0
    line-height: 1.4em
    font-size: 1.3em
  .date
    color: #888888
    text-align: right
    font-size: 1.1em
    font-style: italic
    margin: 0
.bubble
  width: 59em
  float: left
  margin: 0 0 3em 2em
fieldset
  padding: 1em 0
  border: 0
  line-height: 2.5em
input, label
  font-size: 1.2em
input[type=text], input[type=file], textarea
  border= !orange "1px solid"
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  display: inline
  height: 2em
textarea
  width: 57em
  height: 10em
  margin: .5em
input[type=text]:focus, textarea:focus, input[type=password]:focus
  -moz-box-shadow= !gray "0 1px 3px", !gray "0 -1px 3px"
  -moz-webkit-shadow= !gray "0 1px 3px", !gray "0 -1px 3px"
input[type=submit]
  +bordures-rondes(!orange)
  display: inline-block
  padding: .4em 1em
  margin: 0 .5em
  font-weight: bold
  border: 0
  cursor: pointer
  text-decoration: none
  position: relative
  outline: none
  height: 2em

  &:active
    top: 2px
    left: 2px

  &:hover
    text-shadow: 2px 2px 2px #888888

input[type="submit"]::-moz-focus-inner
  border: none

