!orange = rgb(250,105,0)
!aoi = rgb(105,210,231)
!light = rgb(167,219,216)
!gray = rgb(224,228,204)

=bordures-rondes(!couleur)
  border-radius: 5px
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  box-shadow: 0 1px 3px rgba(0,0,0,0.5)
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5)
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5)
  background= !couleur
