$orange: rgb(255, 123, 34)
$gray: #AAAAAA
$background: rgb(238, 218, 204)
$text: #444444
$beige: #eecc99

=border-curve($color)
  border-radius: 5px
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)
  background: $color

=border-curve-bottom($color)
  border-radius: 5px
  -moz-border-radius: 0 0 5px 5px
  -webkit-border-radius: 0 0 5px 5px
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)
  background: $color

=box-shadow($color)
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)
  background: $color
