%div.post
  %h4
    = link_to post.nickname, user_path(post.nickname.parameterize.to_s)
  %p
    = image_tag(File.join('avatars', "#{post.nickname.parameterize.to_s}.png"))
  %p
    =raw format_text(post.content)
