%div.post
  %h4
    = link_to post.user.nickname, user_path(post.user.id)
    = link_to image_tag(gravatar_url(post.user.email, :size => 100)), user_path(post.user.id)
  %p
    = format_text post.content
