- if flash[:notice]
  :javascript
    $.gritter.add({
    title: '#{t("gritter.success")}',
    text: '#{flash[:notice]}'
    });
    $('#post_body').val('').focus();
- else
  :javascript
    $.gritter.add({
    title: '#{t("gritter.fail")}',
    text: '#{flash[:alert]}'
    });
