= t('posts.edit')
= form_for([@topic, @post], :url => {:controller => "posts", :action => :update, :topic_id =>@topic.permalink, :id => @post.id}, :html => {:method => :put}) do |form|
  = render form
