!!! Strict
%html
  %head
    %title
      Login to blabbr
    = stylesheet_link_tag 'sessions'
  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"
    %h1.center
      blabbr
    #content
      .center
        =yield
