!!! Strict
%html
  %head
    %title
      blabbr
    = stylesheet_link_tag 'sessions'
  %body
    %header.center
      %h1
        blabbr
    - flash.each do |name, msg|
      .center
        = content_tag :div, msg, :id => "flash_#{name}"
    %section#content.center
      =yield
