!!! Strict
%html
  %head
    %title
      = h(yield(:title) || "Blabbr")
    = stylesheet_link_tag 'sessions'
  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"
    =yield
